@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;600;700;900&display=swap');

html{
    font-family: 'Frank Ruhl Libre', serif;
}

header{
    text-align: center;
}

#logo{
    width: 13rem;
}

#top-yellow{
    font-size: 0.8rem;
    border-top: 1px solid yellow;
    background-color: rgba(236, 236, 137, 0.806);
    padding: 0.1rem;
    margin-top: 0.8rem;
}

.bold{
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 55%;
    margin-top: 3rem;
}

h1{
    text-align: center;
}

#foto-focaccia{
    width: 100%;
    border-radius: 5px;
}

cite{
    display: block;
    text-align: center;
    margin-top: 0.8rem;
}

.featured{
    border-left: 1px solid rgb(255, 72, 0);
    padding-left: 1rem;
}

.red{
    color:rgb(207, 0, 0);
    font-weight: bold;
}

h2{
    border-bottom: 1px solid rgb(1, 210, 251);
    padding-bottom: 0.8rem;
}

ul{
    line-height: 2rem;
}
